body {
    position: relative;
}
ul {
    list-style-type: none;
    font-family: "Oswald", sans-serif;
}
li {
    display: inline-block;
}
/* Sets the font family to Skranji for the h1 of the logo-wrapper*/
#logo-wrapper h1 {
    font-family: 'Skranji', cursive;
    margin-left: 45%;
    margin-top: 12%;
    margin-bottom: -12px;
    font-size: 60px;
}
#buttons {
    margin-left: 44.5%;
    margin-top: 1.5%;
}
#footer {
    bottom: -110%;
    position: relative;
}
#Hermóðr, #images, #Privacy, #Settings, #Terms {
    float: right;
    padding-right: 1%;
}
.left {
    padding-right: 1%;
}
input[type="submit"] {
    border: 1px solid;
    font-family: "Oswald", sans-serif;
}
input[type="text"]{
    width: 350px;
    margin-left: 38%;
}
